# pycache files
__pycache__/
*.py[cod]

# vscode settings
.vscode/

old/
examples/wandb
examples/results
examples/results_old
examples/
src/mibel_simulator.egg-info
*.txt
# Ignore notebook checkpoint artifacts, not requirements.txt
*.nbconvert.txt
*.log
# Ignore everything in data/
data/**
!data/
!data/**/
!data/**/.gitkeep